.main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
@media only screen and (max-width: 920px) {
  .main {
    flex-direction: column;
  }
}
.main .photo {
  min-width: 350px;
  min-height: 525px;
  background-size: cover;
  background-position: center center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 920px) {
  .main .photo {
    min-width: 300px;
    min-height: 450px;
  }
}
.main > div {
  padding: 2rem;
}
@media only screen and (max-width: 920px) {
  .main > div {
    max-width: 300px;
  }
}
.main > div p {
  margin: 1rem 0;
  max-height: 300px;
  overflow-y: scroll;
  text-overflow: ellipsis;
  padding: 0.5rem;
}
.main .knownFor {
  display: flex;
  gap: 0.5rem;
}
@media only screen and (max-width: 920px) {
  .main .knownFor {
    display: none;
  }
}
